<p> Hello, you have an registered for an event, which is after 5 hours.
Here is Event Details: 
</p>
<h1>Title: <%= @event.title%></h1>
<h2>Description: <%= @event.description%></h2>

<h2>Time: <%= @event.title%></h1>
